.app_wrapper{
    text-align: center;
    h1{
        color: red;
        margin-bottom: 50px;
        text-decoration: underline;
    }
}
.first{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .w-25{
        margin-bottom: 10px;
    }
}